<h1>Bookmarks</h1>

{% if bookmarks %}

Bookmarks:

<ol>
    {% for bookmark in bookmarks %}
    <li><a href="{{ bookmark.url }}">{{ bookmark.name }}</a></li>
    {% endfor %}
</ol>

{% else %}
<p>No, we have no bookmarks</p>
{% endif %}


{% if personal_bookmarks %}

<p>Personal Bookmarks:</p>

<ol>
    {% for bookmark in personal_bookmarks %}
    <li><a href="{{ bookmark.url }}">{{ bookmark.name }}</a></li>
    {% endfor %}
</ol>

{% else %}
No, we have no personal bookmarks
{% endif %}


<h2>New Bookmark</h2>

<form method="POST" class="bookmark-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>